.sign_wrapper {
    padding: 80px 0;
}

.sign_wrapper__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.sign_wrapper__content h6 {
    font-size: 24px;
}

.sign_wrapper__content p {
    font-size: 15px;
    margin-top: 10px;
}

.sign_input {
    margin-top: 1rem;
}

.sign_input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #131313;
    outline: none;
}

.sign_input button {
    background-color: #131313;
    color: #fff;
    width: 100%;
    display: block;
    padding: 12px;
    text-transform: capitalize;
    font-size: 18px;
}

.remeber {
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 6px;
}

.remeber label {
    cursor: pointer;
    text-transform: capitalize;
}

.sign--up a {
    color: #131313;
    text-decoration: underline !important;
}

.sign--up a:hover {
    color: var(--main-color);
}

.remeber input {
    accent-color: #131313;
}

@media(max-width:768px) {
    .sign_wrapper {
        padding: 50px 0;
    }

    .sign_wrapper__content h6 {
        font-size: 20px;
    }

    .sign_wrapper__content p {
        margin-top: 5px;
    }

    .sign_input input {
        padding: 9px;
    }
}